body {
	background-color: rgb(236, 238, 241);
	font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(76, 76, 76);
}

h1 {
	font-weight: 400;
}

p {
	font-size: 14px;
}

section {
	margin: auto;
	width: 400px;
	padding: 5px;
	box-sizing: border-box;
}

div {
	margin: auto;
	display: flex;
	justify-content: center;
}

.header-sec {
	padding-top: 10vh;
}

.form-header {
	display: inline-block;
}

.header-container {
	text-align: center;
	padding-left: 10px;
}

.form-container {
	background-color: white;
	border-radius: 2px;
	border: 1px lightgray solid;

}

input {
	width: 100%;
	padding: 10px;
	border-radius: 2px;
	border: 1px lightgray solid;
	box-sizing: border-box;
}

input:focus {
	border: 3px blue;
}

label {
	margin-left: 20px;
	margin-right: 20px;
}

.input-cont {
	margin: 20px;
	padding-bottom: 20px;
}

.logo-container {
	margin-bottom: 15px;
}

.services-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

p {
	margin-bottom: 2px;
}

a {
	font-size: 0.75em;
	text-decoration: none;
}

.submit-button {
	background-color: rgb(0, 119, 197);
	color: white;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border-radius: 5px;
}

.button-cont {
	margin-left: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
}