body{
    background-color: rgb(236, 238, 241); 
	font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: rgb(76,76,76);
}

h1 {
	font-weight: 400;
}

p {
	font-size: 14px;
}
section{
    margin: auto;
	width: 380px;
	padding: 5px;
	box-sizing: border-box;
}

div{
    margin: auto;
    display: flex;
    justify-content: center;
}

.header-sec{
    padding-top: 20vh;
}

.form-header{
	display: inline-block;
}

.form-container{
	background-color: white;
	border-radius: 2px;
	border: 1px lightgray solid;
	text-align: center;
	padding: 20px;
}

.logo-container{
	margin-bottom: 7px;
}

.services-container{
	margin-top: 7px;
	margin-bottom: 7px;
}

p{
	margin-bottom: 2px;
}

a{
	font-size: 0.8em;
}
